.widgetTime {
  /* border: 5px solid orange; */
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 5px 30px -5px rgba(191, 191, 191, 0.7);
  overflow: hidden;
}

.widgetNote {
  /* border: 5px solid orange; */
  /* box-sizing: border-box; */
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 5px 30px -5px rgba(191, 191, 191, 0.7);
  overflow: hidden;
}

.widgetInfo {
  /* border: 5px solid orange; */
  /* box-sizing: border-box; */
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 5px 30px -5px rgba(191, 191, 191, 0.7);
  overflow: hidden;
}

.widgetDescriptionTime {
  box-sizing: border-box;
  margin: 0;
  padding: 1em;
  color: white;
  background-color: rgba(49, 46, 65, 1);
}

.widgetDescriptionNotes {
  box-sizing: border-box;
  margin: 0;
  padding: 1em;
  color: white;
  background-color: rgba(49, 46, 65, 1);
}

.widgetDescriptionInfo {
  box-sizing: border-box;
  margin: 0;
  padding: 1em;
  color: white;
  background-color: rgba(49, 46, 65, 1);
}
