.searchWrapper {
  border: 2px solid red;
  box-sizing: border-box;
  text-align: center;
  padding: 1em;
  width: 75vw;
  margin: auto;
  background-color: #312e41;
}

.inputBarAndSubmit {
  font-size: 1em;
  background-color: #2c3e50;
  color: white;
  text-align: center;
  box-sizing: border-box;
  width: 70vw;
  margin: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  border: none;
}

.sendQuery {
  font-size: 1.5em;
  background-color: #2c3e50;
  color: white;
  text-align: center;
  box-sizing: border-box;
  width: 70vw;
  margin: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  border: none;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
}

input::placeholder{
  color: white;
}

input:hover {
  cursor: pointer;
  background-color: #00bcd4;
}

.checkOptions {
  background-color: #2c3e50;
  color: white;
  text-align: center;
  box-sizing: border-box;
  width: 70vw;
  margin: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h3 {
  color: white;
  margin-top: 1em;
}

input[type="checkbox"] {
  color: white;
  align-self: center;
}

.options {
  box-sizing: border-box;
  margin-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  /* border: 1px solid white; */
}

label {
  box-sizing: border-box;
  color: white;
  margin: 0;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.options:hover{
  background-color: #00bcd4;
  cursor: pointer;
}

label:hover {
  cursor: pointer;
}
