.WatchContainer {

}

.Watch {
  /* border: 5px solid green; */
  box-sizing: border-box;
  color: black;
  margin: 0;
  /* font-family: Impact; */
  font-weight: bold;
  margin: 0;
  padding: 1em;
}

.WatchTick {
  /* border: 2px solid red; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-left: 1em;
  font-size: 3em;
}

.Date {
/* border: 2px solid red; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 2em;
  display: flex;
  justify-content: flex-end;
  padding-right: 1em;
}
