.contentWrapper {
  /* border: 12px solid orange; */
  display: flex;
  padding: 0;
}

.NavContainer {
  width: 25vw;
  min-width: 225px;
  background-color: #312e41;
  /* border: 3px dotted green; */
}

.contentBox {
  /* border: 12px solid red; */
  width: 75vw;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  /* padding-left: 1em;
  padding-right: 1em; */
  background-color: rgb(227, 217, 217);
}

.SearchbarOnConten{
  border: 2px solid red;
}

.someContent {
  box-sizing: border-box;
  background-color: rgba(182, 182, 182, 1);
  width: 75vw;
  padding-bottom: 1em;
  margin: 1em;
  box-shadow: 0px 5px 30px -5px rgba(159, 159, 159, 1);
  color: white;
}

.itemHeading {
  padding: 1em;
  margin-bottom: 1em;
  background-color: #2c3e50;
  color: white;
}

.linkStyle {
  box-sizing: border-box;
  border: 1px solid red;
  padding: 1em;
  margin: 1em;
}

.widgetContainer {
  border: 2px solid red;
  padding: 0;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.someWidget {
  /* border: 2px solid green; */
  margin: 1em;
}
