.contentWrapper {
  /* border: 2px solid orange; */
  padding: 0;
  display: flex;
  background-color: white;

}

.NavContainer {
  box-sizing: border-box;
  width: 25%;
  min-width: 225px;
  background-color: #312e41;
  /* border: 3px dotted green; */
}

.contentBox {
  /* border: 12px solid red; */
  box-sizing: border-box;
  width: 75vw;
  /* padding-left: 1em;
  padding-right: 1em; */
  /* background-color: rgb(145, 129, 62); */
}

/* .SearchbarOnConten{
  border: 2px solid red;
  color: darkblue;
  font-weight: bold;
} */

.someContent {
  box-sizing: border-box;
  background-color: rgba(182, 182, 182, 1);
  box-shadow: 0px 5px 30px -5px rgba(159, 159, 159, 1);
  width: 100%;
  border: 2px solid red;
  padding: 0;
  margin: 2em;
}

.itemHeading {
  box-sizing: border-box;
  margin: 0;
  padding: 1.2em;
  background-color: #2c3e50;
  color: white;
}

.linkWrap {
  border: 2px solid blue;
  padding: 1em;
}

.linkStyle {
  box-sizing: content-box;
  border: 1px solid red;
  padding: 1em;
  margin: 0;
}

.widgetsContainer1 {
  box-sizing: border-box;
  /* background-color: transparent; */
  display: flex;
  /* border: 5px solid green; */
  margin: 0;
  width: 100%;
}

.widgetsContainer2 {
  box-sizing: border-box;
  /* background-color: transparent; */
  display: flex;
  /* border: 5px solid green; */
  margin-top: 1em;
  width: 100%;
}

.widgetTime {
  box-sizing: border-box;
  /* border: 2px solid blue; */
  margin: 1em;
  padding: 0;
  width: 20vw;
}

.widgetNotes {
  box-sizing: border-box;
  /* border: 3px solid blue; */
  margin: 1em;
  padding: 0;
  width: 60vw;
}

.Information {
  /* border: 2px solid blue; */
  margin: 1em;
  width: 100vw;
}
