.contentWrapper {
  /* border: 12px solid orange; */
  display: flex;
  padding: 0;
}

.NavContainer {
  width: 25vw;
  min-width: 225px;
  background-color: #312e41;
  /* border: 3px dotted green; */

}

.contentBox {
  /* border: 12px solid red; */
  width: 75vw;
  display: flex;
  flex-wrap: wrap;
  /* padding-left: 1em;
  padding-right: 1em; */
  background-color: lightgrey;
}


.someContent {
  width: 200px;
  height: 200px;
  background-color: blue;
  border: 5px dotted green;
  padding: 10px;
  margin: 10px;
  color: white;
}
