.Wrapper {
  border: 5px dotted red;
  height: 100%;
}

.SignInOptionsContainer {
  border: 5px solid blue;
}

.SignInOptios {
  border: 2px solid red;
}

/*Sign In Button Styles*/

.loginBtnTwitter {
  width: auto;
  box-sizing: border-box;
  position: relative;
  margin: 0.2em;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 1em;
  color: #00aced;
}
.loginBtnGithub {
  width: auto;
  box-sizing: border-box;
  position: relative;
  margin: 0.2em;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 1em;
  color: #24292e;
}
/*Btn Hover*/
.loginBtnTwitter:hover {
  border: 2px solid #00aced;
}
.loginBtnGithub:hover{
  border: 2px solid #24292e;
}

.signIconStyle {
  border: 1px solid red;
  margin: 0.2em;
  vertical-align: middle;
  padding: 0.2em;
  text-align: left;
}

/*Content Style*/
.contentBox1 {
  border: 2px solid orange;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.ulListStyle {
  border: 2px solid black;
  margin: 1em;
  padding: 1em;
}
