.Wrapper {
  border: 5px dotted red;
  height: 100%;
}

.SignInOptionsContainer {
  border: 5px solid blue;
}

.SignInOptios {
  border: 2px solid red;
}

/*Content Style*/
.contentBox1 {
  border: 2px solid orange;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.ulListStyle {
  border: 2px solid black;
  margin: 1em;
  padding: 1em;
}
