.Notes {
  box-sizing: border-box;
  /* border: 5px solid green; */
  color: white;
  margin: 0;
  padding: 1em;
  font-family: Impact;
  font-size: 3em;
  width: 45vw;
}





.myTest {
  border: 3px solid red;

}


.task {
  padding: 1em;
  border: 2 px solid blue;
}
