.NavWrapper {
  /* border: 2px dotted purple; */
  font-size: 25px;
}

.SideNav {
  height: 100vh;
  box-sizing: border-box;
  background: #312e41;
  color: white;
  margin: 0;
  color: white;
  align-self: stretch;
}

/* Applied to NavText */
.NavItemPadding {
  padding: 0.5em;
}

/* Dashboard Icon */
.Dashboard {
  color: white;
  border: 1px solid white;
  height: 40px;
  width: 40px;
  padding: 0.1em;
  margin: 0px;
  border-radius: 0;
}
/* Google Ico */
.Google {
  color: white;
  border: 1px solid white;
  height: 100%;
  width: 100%;
  padding: 0.1em;
  margin: 0px;
  border-radius: 0;
}
/* DuckDuckGo SVG */
.DuckDuckGo {
  color: white;
  border: 1px solid white;
  height: 40px;
  width: 100%;
  padding: 0.1em;
  margin: 0px;
  border-radius: 0;
}
/* DuckDuckGo SVG */
.Bing {
  color: white;
  border: 1px solid white;
  height: 40px;
  width: 100%;
  padding: 0.1em;
  margin: 0px;
  border-radius: 0;
}
