/* Icon Style */
.signIconStyle {
  /* border: 1px solid black; */
  box-sizing: border-box;
  margin: 0.3em;
  margin-right: 1em;
  vertical-align: middle;
  padding: 0.2em;
  text-align: left;
}

/* Auth Button Shared Styles*/
.AuthWrapper {
  box-sizing: border-box;
  width: 19vw;
  padding: 0;
  margin: 0.6em;
  overflow: hidden;
}

.loginBtnGoogle, .loginBtnFacebook, .loginBtnTwitter, .loginBtnGithub {
  border: solid 0.4em rgba(255, 255, 255, 0.01);
  width: 100%;
  background-color: rgba(255, 255, 255, 0.45);
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 1em;
  font-weight: bold;
}


.loginBtnGoogle {
    box-sizing: border-box;
}
.loginBtnGoogle:hover {
  border: 0.4em solid black;
  box-sizing: border-box;
}
/* Facebook */
.loginBtnFacebook {
  color: #354C8C;
}
.loginBtnFacebook:hover {
  border: 0.4em solid #354C8C;
}
.loginBtnTwitter {
  color: #00aced;
}
.loginBtnTwitter:hover {
    border: 0.4em solid #00aced;
}
.loginBtnGithub {
  color: #24292e;
}
/*Btn Hover*/
.loginBtnGithub:hover{
  border: 0.4em solid #24292e;
}
