/* Icon Style */
.signIconStyle {
  /* border: 1px solid black; */
  margin: 0.3em;
  margin-right: 1em;
  vertical-align: middle;
  padding: 0.2em;
  text-align: left;
}

/* Google */
.loginBtnGoogle {
  min-width: 15vw;
  box-sizing: border-box;
  position: relative;
  margin: 0.2em;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 1em;
  font-weight: bold;
}
.loginBtnGoogle:hover {
  border: 0.4em solid black;
}
/* Facebook */
.loginBtnFacebook {
  min-width: 15vw;
  box-sizing: border-box;
  position: relative;
  margin: 0.2em;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 1em;
  color: #354C8C;
  font-weight: bold;
}
.loginBtnFacebook:hover {
  border: 0.4em solid #354C8C;
}
.loginBtnTwitter {
  min-width: 15vw;
  box-sizing: border-box;
  position: relative;
  margin: 0.2em;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 1em;
  color: #00aced;
  font-weight: bold;
}
.loginBtnTwitter:hover {
    border: 0.4em solid #00aced;
}
.loginBtnGithub {
  min-width: 15vw;
  box-sizing: border-box;
  position: relative;
  margin: 0.2em;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 1em;
  color: #24292e;
  font-weight: bold;
}
/*Btn Hover*/
.loginBtnGithub:hover{
  border: 0.4em solid #24292e;
}
