.header {
  box-sizing: border-box;
  /* border: 2px solid blue; */
  padding: 3em;
  text-align: center;
  /* background: #2c3e50; */
  background-image: url('./../hbs-header-pictures/mountains.svg');
  background-size: cover;
  background-position: bottom;
  color: white;
  font-weight: bold;
}

.headline {
  box-sizing: border-box;
  font-size: 3em;
  padding: 0;
  margin: 0;
}
